{{!-- this is the page that is displayed once a user joins a race.--}}
<h3 class="text-align-center">Current Race: {{race_name}}</h3>
{{!-- a row is created for each user containing username, their chosen racer, and a participant message. --}}

<h2 class="text-center">Current Race: {{race.name}}</h2>

{{#each user}}
<div class="row project d-flex justify-content-between mb-4">
  <div class="col-md-5">
    <h2>
    {{user_id}}
    </h2>
    </div>
    <p>
      <span class="racer-id justify-content-center">Racer #: {{racer_choice}}</span>
    </p>
  
  {{#if participant_message}}
  <div class="col-md-7 align-content-right">
    <p class="participant-message">
      "{{participant_message}}"
    </p>
  </div>
  {{/if}}
</div>
{{/each}}


{{!-- if the user is the host of this race, the enter winners form is displayed --}}
<div class="mt-5">
  {{#if isHost}}

    {{> racehost race_id=race.race_id}}  
  
  {{else}}
    <button class="back-btn btn-primary btn justify-content-center" id="result-btn">View Race Results</button>

    <script>
      document.querySelector('#result-btn').addEventListener('click', () => {document.location.href += "/results"})
    </script>
  {{/if}}

<button class="back-btn btn-primary btn justify-content-center" id="back-btn">Back to Race Homepage</button>

<script>
  document.querySelector('#back-btn').addEventListener('click', () => {document.location.href = "/"})
</script>

</div>
