{{!-- this is the page that is displayed once a user joins a race.--}}

{{!-- a row is created for each user containing username, their chosen racer, and a participant message. --}}
<h3>Current race: {{race.name}}</h3>
{{#each user}}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
    {{user_id}}
    </h2>
    <p>
      <span class="racer-id">has chosen {{racer_choice}}</span>
    </p>
  </div>
  {{#if participant_message}}
  <div class="col-md-7">
    <p>
      {{participant_message}}
    </p>
  </div>
  {{/if}}
</div>
{{/each}}


{{!-- if the user is the host of this race, the enter winners form is displayed --}}

  {{#if isHost}}

    {{> racehost race_id=race.race_id}}  
  
  {{else}}
    <button class="back-btn btn-primary btn justify-content-center" id="result-btn">View Race Results</button>

    <script>
      document.querySelector('#result-btn').addEventListener('click', () => {document.location.href += "/results"})
    </script>
  {{/if}}

