<div class="text-center">
  <h1 class="winners" id="winners">Winners!</h1>
  <img src="../images/2-jewels-raccoon.jpg" alt="raccoon winner with loot"/>
  <h2>Gold: {{gold_racer_id}} Silver: {{silver_racer_id}} Bronze: {{bronze_racer_id}}</h2>
  <p>{{gold_racers}}</p>
  <p>{{silver_racers}}</p>
  <p>{{bronze_racers}}</p>
</div>
